header {
  background: url("images/travel_6.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 400px;
}

h1{
text-align: center;
padding-top: 200px;
}
#cities_dropdown{
 border: 1px solid #CCC;
 height: 50px;
 font-size: 20px;
 color:black;
}
.user_login{
text-align: left;
margin-top: 2em;
}

#city_description h3{
      color: #E86F4C;
}

#city_description h5{
  margin-bottom: 2em;
}


.btn-group{
  text-align: center;
}

.container{
  text-align: center;
}

/*.intro{
  border-style: solid;
  border-color: #D3D3D3;
  padding: 1em;
  margin: 4em 1em 2em 1em;
  background-color: black;
  color: white;
}*/
.intro {
  border: 1px solid #D3D3D3;
  padding: 1em;
  /* margin: 4em 1em 2em 1em; */
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #F2F2F2;
  color: black;
}

#city_description {
  /* color: #E86F4C;*/
  padding-bottom: 2em;
  margin: 4em 1em 2em 1em;
}
/*.selected_city {
  margin-top: 2em;
  margin-bottom: 2em;

}*/

#attractions_radius{
  width: 350px;
  margin: auto;
  float: none;
}
.attraction_description {
  text-align: justify;
}

.mtop1 {
  margin-top: 1em;
}

.mbottom1 {
  margin-bottom: 1em;
}

#map-canvas {
  height: 600px;
 border: 1px solid #D3D3D3;


}
.categories_button {
/*margin-top: 2em;
margin-bottom: 2em;
margin-left: 2em;*/
margin: 2em 2em 2em 2em;
}

.contain{
  margin: 1em 1em 1em 1em;
}

.btn-group{
  padding:2em;
}

.categories{
  /*border-style: solid;
  border-color: #D3D3D3;*/
  border: 1px solid #D3D3D3;
  margin-left:2em;
}

.att_rad {
  border: 1px solid #D3D3D3;
  background-color: #F2F2F2;
  padding: 1em;
  margin-top: 1em;
}
.attraction_description {
  border: 1px solid #D3D3D3;
  padding: 1em;
}
.description{
  margin-left:3em;
  margin-right:2em;
}
.attraction_wrapper{
  background-color: #F2F2F2;
  border: 1px solid #D3D3D3;
}

.eachAttrHeader {
  padding: 1em;
}

.eachAttrHeader a {
  font-size: 18px;
  padding-left: 2em;
  color:#E86F4C;
}
.eachAttrRating{
  padding: 1em;
}
./*catResults{
  padding-right: 0px; !important
  padding-left: 0px; !important

}
*/
.col-md-5.description{
  border: 1px solid #D3D3D3;
  /*padding-right: 0px; !important
  padding-left: 0px; !important*/
}

.categories .btn{
  background-color:#E86F4C !important;
  width: 150px ;
  height: 50px;
  border: 1px solid #D3D3D3 !important;
  color: white;
  margin-top: 1em;
  margin-left: 1em;
}

.description .btn-primary{
  background-color: #5bc0de !important;
  border-color: #46b8da;
}

#show_reviews_button{
  background-color:#E86F4C !important;
  border: 1px solid #D3D3D3 !important;
}

.show_reviews{
  padding: 2em;
  color: rgb(91, 192, 222);
}
.radius_span {
  background-color: #a3a0a0 !important;
}
#attractions_dropdown {
  margin-top: 1em;
}

.col-md-12.text-center.city_intro.text-center {
  margin-top: 4em;
}
